<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamcox.guesstheletter"
    android:versionCode="9"
    android:versionName="1.9"
    android:installLocation="auto">
    <uses-sdk 
        android:minSdkVersion="11" 
        android:targetSdkVersion="11" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name"
        android:allowBackup="true">
        <activity 
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" 
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity android:name="com.amazon.device.ads.AdActivity" />
        <activity android:name="com.amazon.device.ads.AdRegistration" />
        <activity 
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" 
            android:name=".InterstitialAdActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden" 
            android:name=".DragNDropActivity">
        </activity>
        <activity 
            android:name=".LearnTheLettersActivity">
        </activity>
        <activity 
            android:name=".LearnTheNumbersActivity">
        </activity>
        <activity 
            android:screenOrientation="landscape" 
            android:configChanges="orientation|keyboardHidden" 
            android:name=".MathActivity">
        </activity>
        <activity 
            android:name=".LearnTheShapesActivity">
        </activity>
        <activity 
            android:name=".LearnTheColorsActivity">
        </activity>
        <activity 
            android:name=".PictureBookActivity">
        </activity>
        <activity 
            android:name=".SpellingBeeActivity">
        </activity>
        <activity 
            android:screenOrientation="portrait" 
            android:configChanges="orientation|keyboardHidden" 
            android:name=".WhatsTheTimeActivity">
        </activity>
        <activity 
            android:name=".SmallMediumLargeActivity">
        </activity>
        <activity 
            android:name=".AbcActivity">
        </activity>
        <activity 
            android:name=".PushSoundsActivity">
        </activity>
        <activity 
            android:name=".DrumMachineActivity">
        </activity>
        <activity 
            android:name=".YouTubeVideosActivity">
        </activity>
    </application>
</manifest>